<footer class="footer">
  <h3>Piro Funeral Home</h3>
  <span>251 Dekalb Avenue</span> | <span>Brooklyn, NY 11417</span> | <span>(718) 789 - 1535</span><br/> 
  <small>
    © 2017 Developed by <a href="pacosta613.github.io">Pedro Acosta</a>
  </small>
</footer>