<div class="center jumbotron">
  <h1>Welcome to Piro Funeral Home</h1><br>

  <p>
    This is the home page for Piro Funeral Home. We're sorry for your lost. We will do everything within our powers to make this time of need as easy as possible.

    We are available by phone or e-mail, or drop by the office in person. We are always here to help. 
  </p>

  <% if !user_signed_in? %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>